body {
  text-align: center;
}
div {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  display: inline-block;
}
#container {
  height: 200px;
  width: 800px;
  display: flex;
  flex-direction: row;
  /* flex-direction: row-reverse;
  flex-direction: column-reverse; */
  justify-content: center;
  /* justify-content: space-around;*/
}
#box1 {
  background-color: aqua;
}
#box2 {
  background-color: yellow;
}
#box3 {
  background-color: turquoise;
}
#box4 {
  background-color: chocolate;
}
#box5 {
  background-color: cornflowerblue;
}
