ul {
  display: flex;
  justify-content: space-evenly;
  background-color: pink;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
  background-color: aquamarine;
}
#box1 {
  background-color: rgb(222, 136, 212);
  display: flex;
  justify-content: center;
  align-items: center; /*align alng cross asixs*/
  width: 400px;
  height: 400px;
}
#box2 {
  background-color: chartreuse;
  height: 100px;
  width: 100px;
}
