div {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  border: 20px solid blue;
  border-top: 20px solid black;
  animation: animations 10s ease-out 0s infinite normal;
}
@keyframes animations {
  from {
    left: 0px;
    transform: rotate(0deg);
  }
  to {
    left: 500px;
    transform: rotate(360deg);
  }
}
