div {
  background-color: rgb(209, 216, 216);
  /* display: inline; */
  margin: 50px;
}
.box {
  background-color: aquamarine;
  padding: 25px;
  margin: 25px;
  width: 100px;
  height: 100px;
  display: inline-block;
  text-align: center;
}
#box2 {
  display: none;
  visibility: hidden;
}
h1 {
  color: rgba(255, 0, 0, 1);
}
h2 {
  color: rgba(255, 0, 0, 0.5);
}
